<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <%= render "public/items/genre", genres: @genres %>
      </div>
      <div class="col-lg-9">
        <p class="welcome">
          ようこそ、<span class="header-name">Nagano Cake</span> へ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧はできますが、<br>
          購入には会員登録が必要になります。
        </p>
        <h2 class="item-head"><b>オススメ商品</b></h2>
          <div class="item-lists">
            <% @random.each do |item| %>
            　<div class="col-2 ">
              <div class="card-image">
                <figure class="image">
                  <%= link_to item_path(item) do %>
                    <%= attachment_image_tag item, :image, :size =>'230x180' %>
                  <% end %>
                </figure>
              </div>
              <div class="card-name">
                <div class="item-name"><%= link_to item.name, item_path(item), class: "item-link" %></div>
              </div>
              <div class="card-price">
                <div class="item-price">¥<%= item.price.to_s(:delimited) %></div>
              </div>
            </div>
            <% end %>
          </div>
          <div class="more">
            <%= link_to items_path, class: "more-link" do %>
              もっと見る <i class="far fa-hand-point-right"></i>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</body>
