<h1>配送先登録/一覧</h1>


<table class="address-input-form">
<%= form_with model:@address, local:true do |f| %>
  <tr>
    <td><%= f.label :"郵便番号(ハイフンなし)" %></td>
    <td><%= f.text_field :postal_code %></td>
  </tr>
  <tr>
    <td><%= f.label :"住所" %></td>
    <td><%= f.text_field :address %></td>
  </tr>
  <tr>
    <td><%= f.label :"宛名" %></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= f.submit "登録する", class: "btn btn-success" %></td>
  </tr>
<% end %>
</table>

<table class="address-index">
  <tr>
    <th>郵便番号</th>
    <th>住所</th>
    <th>宛名</th>
    <th></th>
    <th></th>
  </tr>
  <% @addresses.each do |address| %>
  <tr>
    <td><%= address.postal_code %></td>
    <td><%= address.address %></td>
    <td><%= address.name %></td>
    <td><%= link_to "編集する", edit_address_path(address), class: "btn btn-primary" %></td>
    <td><%= link_to "削除する", address_path(address), method: :delete, class: "btn btn-danger" %></td>
  </tr>
  <% end %>
</table>
