<h2><b>配送先登録 / 一覧 <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></b></h2>


<div>
<%= form_with model:@address,  class:"address-input", local:true do |f| %>
  <div class="address-input-form">
    <div><%= f.label :"郵便番号(ハイフンなし)" %></div>
    <div><%= f.label :"住所" %></div>
    <div><%= f.label :"宛名" %></div>
  </div>
  <div class="address-input-form">
    <div><%= f.text_field :postal_code %></div>
    <div><%= f.text_field :address, class:"size-input-address" %></div>
    <div><%= f.text_field :name %></div>
  </div>
  <div class="address-input-button">
    <div><%= f.submit "登録する", class: "btn btn-success" %></div>
  </div>
<% end %>
</div>

<table class="address-index">
  <tr>
    <th>郵便番号</th>
    <th>住所</th>
    <th>宛名</th>
    <th></th>
    <th></th>
  </tr>
  <% @addresses.each do |address| %>
  <tr>
    <td><%= address.postal_code %></td>
    <td><%= address.address %></td>
    <td><%= address.name %></td>
    <td><%= link_to "編集する", edit_address_path(address), class: "btn btn-primary" %></td>
    <td><%= link_to "削除する", address_path(address), method: :delete, class: "btn btn-danger" %></td>
  </tr>
  <% end %>
</table>
