<div class="container">
  <div class="raw">
    <h2>新規会員登録</h2>
    <%= form_with model: @customer, url: end_users_path, local: true do |f| %>
    <div class="form-group">
      <label>名前   </label>
      <%= f.label :last_name, "（姓）" %>
        <%= f.text_field :last_name %>
      <%= f.label :first_name, "（名）" %>
        <%= f.text_field :first_name %>
    </div>
    <div class="form-group">
      <label>フリガナ　　　</label>
      <%= f.label :last_name_kana, "セイ" %>
        <%= f.text_field :last_name_kana %>
      <%= f.label :first_name_kana, "カナ" %>
        <%= f.text_field :first_name_kana %>
    </div>
    <div class="form-group">
      <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email %>
    </div>
    <div class="form-group">
      <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
        <%= f.text_field :postal_code %>
    </div>
    <div class="form-group">
      <%= f.label :address, "住所" %>
        <%= f.text_field :address %>
    </div>
    <div class="form-group">
      <%= f.label :telphone_number, "電話番号（ハイフンなし）" %>
        <%= f.text_field :telphone_number %>
    </div>
    <div class="form-group">
      <%= f.label :encrypted_passward, "パスワード（６文字以上）" %>
        <%= f.password_field :encrypted_passward %>
    </div>
    <div class="form-group">
      <%= f.label :encrypted_passward, "パスワード（確認用）" %>
        <%= f.password_field :password_confirmation %>
    </div>
    <%= f.submit "新規登録", class:"btn" %>
    <% end %>
  </div>
  <div class="row">
    <h2>既に登録済みの方</h2>
    <p><%= link_to "こちら", end_users_sign_in_path %>からログインしてください。</p>
  </div>
</div>