<div class="row">
  <div>
    <h2>会員の方はこちらからログイン</h2>
    <%= form_with model: @customer, url: end_users_sign_in_path, local: true do |f| %>
      <%= render "customers/shared/error_messages", resource: resource %>
      <div class="form-group">
        <%= f.label :email, "メールアドレス" %>
          <%= f.email_field :email, autofocus: true %>
      </div>
      <div class="form-group">
        <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <div>
        <%= link_to "=> パスワードを忘れた方はこちら", end_users_password_path %>
      </div>
      <%= f.submit "ログイン", class: "btn" %>
    <% end %>
  </div>
  <div>
    <h2>登録がお済みでない方</h2>
    <p>
      <%= link_to "こちら", end_users_sign_up_path %> から新規登録を行ってください。
    </p>
  </div>
</div>


