<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <h2>注文履歴詳細</h2>
      <h4>注文情報</h4>
      <table border="1">
        <tr>
          <td>注文日</td>
          <td>配送先</td>
          <td>支払方法</td>
          <td>ステータス</td>
        </tr>
        <tr>
          <td>
            <%= @order.created_at.strftime("%Y-%m-%d %H:%M") %>
          </td>
          <td>〒<%= @order.postal_code %> <%= @order.address %> <%= @order.name %></td>
          <td><%= @order.payment_method %></td>
          <td><%= @order.status %></td>
        </tr>
      </table>
      <h4>注文内容</h4>
      <table border="1">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
         <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= cart_item.item.name %></td>
            <td class="item-price"><%= addTax(cart_item.item.price,1.1) %></td>
            <td>
              <%= cart_item.amount %>
            </td>
            <td><%= addTax((cart_item.item.price * cart_item.amount),1.1) %></td>
          </tr>
          <% @sum += cart_item.item.price * cart_item.amount %>
         <% end %>
        </tbody>
      </table>
      <%= link_to "注文履歴一覧に戻る", orders_path %>
    </div>
    <div class="col-lg-3">
      <h4>請求内容</h4>
      <table border="1">
        <tr>
          <td>商品合計</td><td>¥<%= (@sum * 1.1 ).round %>(税込)</td>
          <td>配送料</td><td>¥<%= @postage %></td>
          <td>御請求額</td><td>¥<%= (@sum * 1.1 ).round + @postage %></td>
        </tr>
      </table>
    </div>
  </div>
</div>