<div class="row">
    <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
      <div class="login-form">
    
        <%= render "public/shared/error_messages", resource: resource %>
      
        <div>
          <h4 class="form-box right-position"><b>会員の方はこちらからログイン</b></h4>
          <div class="form-box"><%= f.label :email, "メールアドレス" %></div>
          <div class="form-box"><%= f.label :password, "パスワード" %></div>
        </div>
      
        <div class="input-form">
          <div class="form-box"><%= f.email_field :email, autofocus: true %></div>
          <div class="form-box"><%= f.password_field :password, autocomplete: "off" %></div>
          <div class="form-box"><%= link_to "=> パスワードを忘れた方はこちら", new_customer_password_path %></div>
        </div>
 
      </div>
      
      <div class="admin_login_button"><%= f.submit "ログイン", class: "btn btn-primary" %></div>
      
    <% end %>
    
  <div class="not-registration">
    <div>
      <h4 class=" right-position">登録がお済みでない方</h4>
      <p><%= link_to "こちら", new_customer_registration_path %> から新規登録を行ってください。</p>
    </div>
  </div>


