<!DOCTYPE html>
<html>
  <head>
   <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <script src="https://kit.fontawesome.com/f71a604c74.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>
  <body>
    <div class="wrapper">
      <div class="container back-design">
        <%= render "layouts/header" %>
        <%= yield %>
        <%= render "layouts/footer" %>  
      </div>
    </div>
  </body>
</html>
